# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
vendor/

# Log files
*.log
*.cache

# Build and distribution
dist/
build/

# Composer files
composer.lock

# IDE / Editor files
.vscode/
.idea/
*.suo
*.user
*.sw?

# Temporary files
*.tmp
*.bak
*.old